https://www.baeldung.com/java-websockets
Server:
URI - адрес и порт, куда отправлять сообщение
OnOpen - Get session and WebSocket connection - подключили нового пользователя? отправить приветственное сообщение? сообщить другим пользователям?
OnMessage - Handle new messages - от кого добавить? кому отправить? 
OnError - Do error handling here
OnClose - WebSocket connection closes - если клиент отключился, что сделать написать "Вася Пупкин отключился"?

Data format: (WebSocket specification supports two on-wire data formats, text and binary)
* Text: 
* Binary
* Java objects - конвертируется в text, binary)
* Ping-Pong - for  health check (ping) request
Message Types:
broadcast???

-----------------------------------------
https://www.baeldung.com/websockets-api-java-spring-client

Client:
Stream Text-Oriented Messaging Protocol (STOMP) is a simple, interoperable wire format that allows client and servers to communicate with almost all the message brokers. It is an alternative to AMQP (Advanced Message Queuing Protocol) and JMS (Java Messaging Service).

URL: ws или wss - ws-secured
На что подписываемся: session.subscribe("/topic/messages", this);
Куда отправляем: session.send("/app/chat", getSampleMessage());